<div class="pure-g">
    <div class="pure-u-1">
	<table width="900" class="pure-table pure-table-horizontal">


    <tbody>

        <tr>
            <th colspan=6>MONDAY 14TH MARCH 2016</th>
        </tr>

        <tr>
		    <td>tennis</td>
            <td>01:00</td>
            <td>Rafael Nadal vs Gilles Muller</td>
            <td>234 Win</td>
            <td>Rafael Nadal (Win Match)</td>
			<td>1.33</td>
        </tr>

        <tr>
		    <td>tennis</td>
            <td>19:00</td>
            <td>Belinda Bencic vs Magdalena Rybarikova</td>
            <td>101 Win</td>
            <td>Belinda Bencic (Win Match)</td>
			<td>1.18</td>
        </tr>

        <tr>
            <th colspan=6>TUESDAY 15TH MARCH 2016</th>
        </tr>

        <tr>
		    <td>soccer</td>
            <td>19:45</td>
            <td>Atletico Madrid v PSV</td>
            <td>158 Win</td>
            <td>Atletico Madrid </td>
			<td>1.36</td>
        </tr>
    </tbody>
	</table>
	
	</div>
</div>
<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->