<div class="pure-g">
    <div class="pure-u-1">
	
    <form class="pure-form pure-form-stacked">

		<fieldset>
			<legend>make a tip</legend>
        <div class="pure-control-group">
            <label for="event">pick an event</label>
            <input id="event" type="text" placeholder="event">
        </div>

        <div class="pure-control-group">
            <label for="market">pick a market</label>
            <input id="market" type="text" placeholder="market">
        </div>

        <div class="pure-control-group">
            <label for="selection">make your selection</label>
            <input id="selection" type="text" placeholder="selection">
        </div>

        <div class="pure-control-group">
            <label for="betType">bet type</label>
            <input id="betType" type="text" placeholder="betType">
        </div>
		
        <div class="pure-control-group">
            <label for="bankRoll">bank roll</label>
            <input id="bankRoll" type="text" placeholder="bankRoll">
        </div>		
		
       <div class="pure-control-group">
            <label for="confidence">confidence</label>
            <input id="confidence" type="text" placeholder="confidence">
        </div>		

        <div class="pure-control-group">
            <label for="amount">total stake amount</label>
            <input id="amount" type="text" placeholder="amount">
        </div>

		<button type="submit" class="pure-button pure-button-primary">confirm tip</button>
		</fieldset>
	</form>
	</div>
</div>
<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->